<div fxLayout="row" fxLayoutAlign="center center">
    <h2>COVID-19 Safety Measures</h2>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <p>Here are what we're doing to help maintain as high of a safety level as possible. These policies apply to
        Referees, Assistant Referees, and Touch Judges, and are current as of March 1, 2021.</p>
</div>
<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Before the match
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
            <mat-list-item role="listitem">Before leaving for the match, please fill out our Symptom Checker. <a
                    href="https://forms.gle/54cPLYJ4g7pb7teJ6" target="_blank">
                    <mat-icon>open_in_new</mat-icon>
                </a></mat-list-item>
            <mat-list-item role="listitem">Bring your own water and refrain from sharing water bottles.</mat-list-item>
            <mat-list-item role="listitem">When arriving at the grounds, please set up your spot in a socially distanced
                manner.</mat-list-item>
            <mat-list-item role="listitem">Please wear a mask anytime you are not actively officiating.</mat-list-item>
            <mat-list-item role="listitem">Pre-match chats (coin toss, front rows, etc.) should be done distanced and
                while wearing a mask.</mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                During the match
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
            <mat-list-item role="listitem">Mask wearing is not required while officiating on field. However, you may
                choose to do so.</mat-list-item>
            <mat-list-item role="listitem">Try to keep as much distance as feasible while still maintaining a solid
                presence.</mat-list-item>
            <mat-list-item role="listitem">Refrain from using any team water bottles if offered.</mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                After the match
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
            <mat-list-item role="listitem">Wear a mask when on the sidelines or not actively officiating.
            </mat-list-item>
            <mat-list-item role="listitem">It's recommended to wipe down flags with a bleach wipe (or something similar)
                if sharing that equipment.</mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>