<div fxLayout="row" fxLayoutAlign="center center">
    <h2>COVID-19 Safety Measures</h2>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <p>Here are the steps we're taking to help maintain as high of a safety level as possible. These policies apply to
        Referees, Assistant Referees, and Touch Judges in high school tournaments, and are current as of March 1, 2021.
    </p>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <p>Some of these measure are not ideal, but nothing about the pandemic is.</p>
</div>
<div fxLayout="row">
    <div fxFlex="100px">
        <h3>Before the match</h3>
    </div>
    <ul>
        <li>Before leaving for the match, please fill out our Symptom Checker. <a
                href="https://forms.gle/54cPLYJ4g7pb7teJ6" target="_blank">
                <mat-icon>open_in_new</mat-icon>
            </a>
        </li>
        <li>Bring your own water and refrain from sharing water bottles.</li>
        <li>When arriving at the grounds, please set up your spot in a socially distanced
            manner.</li>
        <li>Please wear a mask anytime you are not actively officiating while at the
            grounds.</li>
        <li>Pre-match chats (coin toss, front rows, etc.) should be done distanced and
            while wearing a mask.</li>
    </ul>
</div>
<div fxLayout="row">
    <div fxFlex="100px">
        <h3>During the match</h3>
    </div>
    <ul>
        <li>Mask wearing is <strong>not</strong> required while refereeing on field. By all means, feel free to wear one
            if you feel the
            need.</li>
        <li>Assistant Referees or Touch Judges <strong>will</strong> wear masks due to the
            proximity of subs/coaches/medics on the
            sidelines, who are to be masked per the Midwest and USA Rugby. We will use that as our guidance too. Our
            goal is to limit possible spread as much as we can.</li>
        <li>Try to keep as much distance as feasible while still maintaining a solid
            presence, particularly at scrum time. Use your best judgement on balancing rugby saftey with pandemic
            safety.</li>
        <li>If possible, use a mask or a gaiter while having close chats during a match,
            like speaking to a captain about an issue.</li>
        <li>Refrain from using any team water bottles if offered.</li>
    </ul>
</div>
<div fxLayout="row">
    <div fxFlex="100px">
        <h3>After the match</h3>
    </div>
    <ul>
        <li>Again, wear a mask when on the sidelines or not actively officiating while at
            the grounds.</li>
        <li>It's recommended to wipe down flags with a bleach wipe (or something similar)
            if sharing that equipment.</li>
    </ul>
</div>