.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-card {
  max-width: 400px;
  box-shadow: none;
  background-color: transparent;
}

.not-found-title {
  display: flex;
}
