<div fxLayout="row">
    <h3>President</h3>
    <ul>
        <h4>Adam Falk</h4>
        <p>Adam started refereeing when he was playing in high school and continued to do so on off-weekends while
            actively playing. After starting to ref full time in 2017, he became President of the Society in 2019.</p>
    </ul>
</div>
<div fxLayout="row">
    <h3>Treasurer</h3>
    <ul>
        <h4>Paul Wood</h4>
        <p>Here's some stuff about Paul Wood.</p>
    </ul>
</div>
<div fxLayout="row">
    <h3>Secretary</h3>
    <ul>
        <h4>Paul Damge</h4>
        <p>Here's some stuff about Paul Damge.</p>
    </ul>
</div>