<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="home-card">
        <img mat-card-image src="assets/seal.png" />
    </mat-card>
</div>
<div fxLayout="row">
    <h3>Welcome! The Society of Iowa Rugby Referees is the Local Referee Organization (LRO) for the state
        of Iowa and the <a href="http://iowarugby.pitchero.com/" target="_blank">Iowa Rugby Union</a>. We are tasked
        with fostering the growth and development of referees in the amateur sport of rugby
        within Iowa.</h3>
</div>
<div fxLayout="row" fxLayoutAlign="center center" style="color: red;">
    <h3>
        <mat-icon>coronavirus</mat-icon>For information on what we are doing to make refereeing as safe as
        possible during the corona virus
        pandemic, see our <a routerLink="/covid-info">COVID-19 information</a>.<mat-icon>coronavirus</mat-icon>
    </h3>
</div>