<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 64">
    <mat-sidenav #sidenav id="sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [(opened)]="opened"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <div *ngFor="let nav of navList">
                <a mat-list-item routerLink={{nav.link}} (click)="closeNav()">
                    <mat-icon>{{nav.iconName}}</mat-icon><span class="nav-item">{{nav.name}}</span>
                </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>