<div fxLayout="row">
  <h4>Useful links</h4>
</div>
<div fxLayout="row">
  <ul>
    <li>
      <p>Fill out your <a
          href="https://docs.google.com/spreadsheets/d/10ITron8XpngcGHAv8tmHsRsAgAEc5_PBCf0stjFUBJE/edit?usp=sharing"
          target="_blank">availability</a> for matches.</p>
    </li>
    <li>
      <p><a href="https://forms.gle/6VZhY4cW5m48MzeE9">Here</a> is the reimbursement form for collegiate and senior club
        matches.</p>
    </li>
    <li>
      <p>Report any yellow or red cards for Midwest sanctioned senior competition <a
          href="https://www.midwest.rugby/discipline-committee/submit-discipline-report/?fbclid=IwAR3RGjvKDzZzEG9VC4ml3uw2tcci18ex7kyNQIFCwBMd1yXLlvN_YXH4Wkk"
          target="_blank">here</a>. This will be seen by the Iowa and Midwest disciplinary/compliance
        officers. Additionally, report any yellow or red cards in a senior or college side match to Zeus.</p>
    </li>
    <li>
      <p><strong>For High School only</strong> use <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSedYn5rRSBUbUYNhnooZnjO-QYVbDj0W3M7KATPmQAi8woNMg/viewform?usp=sf_link"
          target="_blank">this form</a> to submit scores and settle payments.</p>
    </li>
    <li>
      <p>World Rugby has an app for the Laws of Rugby. Get it so you always have a copy. Download for <a target="_blank"
          href="https://apps.apple.com/us/app/world-rugby-laws-of-rugby/id403213587">Apple
        </a> or for <a target="_blank"
          href="https://play.google.com/store/apps/details?id=org.worldrugby.lawsofrugby&hl=en_US&gl=US">Google</a>.
    </li>
    <li>
      <p><a href="https://usa.rugby/referee-resources" target="_blank">USA Rugby Referee Resources</a> has
        some
        fantastic resources like Game Management Guidelines, links to important World Rugby
        clarifications,
        local USA Rugby policies, and game day type information. It gets updated with <i>some</i> frequency.</p>
    </li>
  </ul>

</div>
<div fxLayout="row">

</div>
