<div fxLayout="row">
    <h4>Useful links</h4>
</div>
<div fxLayout="row">
    <ul>
        <li>
            <p>Fill out your <a
                    href="https://docs.google.com/spreadsheets/d/1xAF7d-0M_-63ONXMChpmLkNoOPcZe5dY7pimMZEy9Dg/edit#gid=578537994"
                    target="_blank">availability</a> for matches.</p>
        </li>
        <li>
            <p>World Rugby has an app for the Laws of Rugby. Get it so you always have a copy. Download for <a
                    target="_blank" href="https://apps.apple.com/us/app/world-rugby-laws-of-rugby/id403213587">Apple
                </a> or for <a target="_blank"
                    href="https://play.google.com/store/apps/details?id=org.worldrugby.lawsofrugby&hl=en_US&gl=US">Google</a>.
        </li>
        <li>
            <p><a href="https://www.usa.rugby/referee/resources/" target="_blank">USA Rugby Referee Resources</a> has
                some
                fantastic resources like Game Management Guidelines, links to important World Rugby
                clarifications,
                local USA Rugby policies, and game day type information. It gets updated with <i>some</i> frequency.</p>
        </li>
    </ul>

</div>
<div fxLayout="row">

</div>