<div fxLayout="row">
  <h4>Useful links</h4>
</div>
<div fxLayout="row">
  <ul>
    <li>
      <p><a href="https://myaccount.rugbyxplorer.com.au/register" target="_blank">Register with USA Rugby</a> each
        competitve cycle as a Referee. Make sure you use
        "Iowa Referees" as your entity! You can dual register as a player with your normal club, but please do referee
        registration with Iowa Referees. You may also have modules to complete to be Compliant when you register.</p>
      <mat-card style="max-width: 20%;cursor: pointer;">
        <a href="/assets/rugbyx-iowa-referees.png">
          <img mat-card-xl-image src="assets/rugbyx-iowa-referees.png" />
        </a>
      </mat-card>
    </li>
    <li>
      <p>Our senior and collegiate referee work is managed on RefUp. <a
          href="https://refup.io/signup/society-of-iowa-rugby-referees" target="_blank">Register with RefUp</a> to
        work collegiate and senior side matches. Registrations will need to be approved. For assistance with RefUp, see
        their <a href="https://refup.freshdesk.com/support/home" target="_blank">Help docs</a> first, then feel free to
        ask.</p>
    </li>
    <li>
      <p>Report any yellow or red cards for Midwest sanctioned senior competition <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSf0vrDCtqezR3pxFFFKpUhLRuV6nOQ80SrLaMlO_z_V66EVZA/viewform"
          target="_blank">here</a>. This
        will be seen by the Iowa and Midwest disciplinary/compliance
        officers. Additionally, any yellow or red cards in a senior or college side match that are reported in RefUp
        will be automatically sent to the Iowa Rugby Union
        Disciplinarian.</p>
    </li>
    <li>
      <p><strong>For High School only</strong> use <a href="https://forms.gle/2gQSzEXYm3VXvDht9" target="_blank">this
          form</a> to submit scores and settle payments.</p>
    </li>
    <li>
      <p>World Rugby has an app for the Laws of Rugby. Get it so you always have a copy. Download for <a target="_blank"
          href="https://apps.apple.com/us/app/world-rugby-laws-of-rugby/id403213587">Apple
        </a> or for <a target="_blank"
          href="https://play.google.com/store/apps/details?id=org.worldrugby.lawsofrugby&hl=en_US&gl=US">Google</a>.
    </li>
    <li>
      <p>Current World Rugby Law Application Guidelines can be found <a
          href="https://www.world.rugby/the-game/laws/guidelines" target="_blank">on their site</a>.</p>
    </li>
    <li>
      <p><a href="https://usa.rugby/referee-resources" target="_blank">USA Rugby Referee Resources</a> has
        some
        fantastic resources like Game Management Guidelines, links to important World Rugby
        clarifications,
        local USA Rugby policies, and game day type information. It gets updated with <i>some</i> frequency.</p>
    </li>
    <li>
      <p>USA Rugby's Learning Center has <a href="https://usarugby.docebosaas.com/learn/catalog" target="_blank">a
          number of webinars</a> saved ranging on topics of diet, stretching, speed work, refereeing youth, foul play,
        and a number of other topics specific to refereeing.</p>
    </li>
  </ul>

</div>
<div fxLayout="row">

</div>