<div fxLayout="row">
  <h4>Policies and information for clubs</h4>
</div>
<div fxLayout="row">
  <ul>
    <li>League or non-tournament matches
      <ul>
        <li>The Home team is responsible for collecting the following information and sending it to the assigned referee
          <strong>by Wednesday evening</strong> before the match. Failure to do so could result in loss of referee
          assignemnt.
          <ul>
            <li>Home jersery, short, and sock color</li>
            <li>Visitor jersery, short, and sock color</li>
            <li>Directions to the field</li>
            <li>Kick off time</li>
            <li>Directions to the social</li>
          </ul>
        </li>
        <li>Clubs not current on referee fees with the Society may not be able to secure a referee.</li>
        <li>Clubs without a current and active referee memeber in the Society may be liable to monetary penalty, as per
          Iowa
          Rugby Union bylaws, or lower priority for assignments.</li>
      </ul>
    </li>
  </ul>
</div>