<div fxLayout="row">
  <h4>Policies and information for clubs</h4>
</div>
<div fxLayout="row">
  <ul>
    <li>For any questions on if cleats, mouth guards, braces, tights, etc., are legal, start with the <a
        href="https://assets.usarugby.org/docs/refereeing/0-Protective_Equipment_Clothing_Guidelines_2019-20.pdf?v=1629409248151"
        target="_blank">Protective Equipment &#38; Clothing Guidelines</a> from USA Rugby. Any other questions, reach
      out!</li>
    <li>Email is the preferred method of contact for your referee. You can find contact info in our <a
        routerLink="/directory">Directory</a>.
    </li>
    <li>League or non-tournament matches:
      <ul>
        <li>The Home team is responsible for collecting the following information and sending it to the assigned referee
          <strong>by the Wednesday evening before the match</strong>. Failure to do so could result in loss of referee
          assignemnt.
          <ul>
            <li>Home jersery, short, and sock color.</li>
            <li>Visitor jersery, short, and sock color.</li>
            <li>Directions to the field.</li>
            <li>Kick off time.</li>
            <li>Directions to the social (if applicable).</li>
          </ul>
        </li>
        <li>Clubs not current on referee fees with the Society may not be able to secure a referee.</li>
        <li>Clubs without a current and active referee memeber in the Society may be liable to monetary penalty, as per
          Iowa Rugby Union bylaws, or lower priority for assignments.</li>
      </ul>
    </li>
    <li>Tournament policies:
      <ul>
        <li>Coming soon!</li>
      </ul>
    </li>
  </ul>
</div>