<!-- using https://medium.com/@snowleo208/how-to-create-responsive-table-d1662cb62075 as a guide -->
<table class="table-container" role="table" aria-label="directory">
  <thead>
    <tr class="flex-table-header" role="rowgroup">
      <th class="flex-row first" role="columnheader">Name</th>
      <th class="flex-row" role="columnheader">Email</th>
      <!--<th class="flex-row" role="columnheader">City</th>-->
    </tr>
  </thead>
  <tbody>
    <tr class="flex-table-row" role="rolegroup" *ngFor="let ref of refs">
      <td class="flex-row first" role="cell">{{ref.name}}</td>
      <td class="flex-row" role="cell"><a href="mailto:{{ref.email}}">{{ref.email}}</a></td>
      <!--<td class="flex-row" role="cell">{{ref.city}}</td>-->
    </tr>
  </tbody>

</table>