<div fxLayout="row">
    <h2>Referee Fees</h2>
</div>
<div fxLayout="row" fxLayoutAlign="center center" style="color: red;">
    <h3>
        <mat-icon>new_releases</mat-icon>Updates coming Fall 2021<mat-icon>new_releases</mat-icon>
    </h3>
</div>
<div fxLayout="row">
    <h3>15's</h3>
    <ul>
        <li>
            <p>$200 for a full 80 minutes.</p>
        </li>
        <li>
            <p>Tournament: $1/minute of scheduled matches plus $.56/mile round trip of each referee. If the tournament
                is two days and one way mileage is more than 90, host pays for a hotel room.</p>
        </li>
    </ul>
</div>
<div fxLayout="row">
    <h3>7's</h3>
    <ul>
        <li>
            <p>$40 per scheduled match.</p>
        </li>
    </ul>
</div>