<div fxLayout="row">
  <h2>Referee Fees</h2>
</div>
<div fxLayout="row">
  <h3>15's</h3>
  <ul>
    <li>
      <p>$200 for a full 80 minutes.</p>
    </li>
    <li>
      <p>Tournament: $1/minute of scheduled matches plus $.56/mile round trip of each referee. If the tournament
        is two days and one way mileage is more than 90, host pays for a hotel room.</p>
    </li>
    <li>
      <p>Other one off matches are determined on a case by case basis. Give us a shout to start the conversation!</p>
    </li>
  </ul>
</div>
<div fxLayout="row">
  <h3>7's</h3>
  <ul>
    <li>
      <p>$40 per scheduled match.</p>
    </li>
  </ul>
</div>